@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible"),
  url("../fonts/Atkinson-Hyperlegible-Regular-102a.woff2");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible"), 
  url("../fonts/Atkinson-Hyperlegible-Italic-102a.woff2");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible"), 
  url("../fonts/Atkinson-Hyperlegible-Bold-102a.woff2");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: local("Atkinson Hyperlegible"), 
  url("../fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2");
  font-style: italic;
  font-weight: 700;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Atkinson Hyperlegible", "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
  }